<%= link_to group, class: "list-group-item list-group-item-action d-flex align-items-center justify-content-between" do %>
  <div>
    <%= group.name %>

    <small class="text-muted">
      <%= group.members.count %>
      <%= 'members'.pluralize(group.members.count) %>
    </small>
  </div>

  <span class="btn btn-sm btn-outline-secondary">
    <i class="fas fa-chevron-right fa-fw"></i>
  </span>
<% end %>
