<% unless current_user %>
  <div class="row mt-3">
    <div class="col-md-6 offset-md-3 text-center">
      <%= form_with url: "/auth/spotify", method: :post do |form| %>
        <%= form.submit "Sign in with Spotify", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
<% else %>
  <h2><%= current_user.username %></h2>
  <hr>
  <%= render "dashboard" %>
<% end %>
