<h1>Group Discover Weekly</h1>
<% unless current_user %>
  <%= form_with url: "/auth/spotify", method: :post do |form| %>
    <%= form.submit "Sign in with Spotify" %>
  <% end %>
<% else %>
  <h2><%= current_user.username %></h2>
  <hr>
  <%= render "dashboard" %>
<% end %>
